<footer class="text-center text-center bg-dark text-white ">
    <section class="pt-2 ">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center d-flex flex-column ">
                    <h6 class="text-uppercase fw-bold mb-4">Follow us on</h6>
                    <div class="social-container">
                        <!--social media icons -->
                        <a href="#" class="social-button facebook">
                            <div class="social-icon">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="social-text">Facebook.com/@rovero</div>
                        </a>

                        <a href="#" class="social-button instagram">
                            <div class="social-icon">
                                <i class="fab fa-instagram"></i>
                            </div>
                            <div class="social-text">Instagram.com/@rovero</div>
                        </a>

                        <a href="#" class="social-button twitter">
                            <div class="social-icon">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="social-text">Twitter.com/@rovero</div>
                        </a>

                        <a href="#" class="social-button youtube">
                            <div class="social-icon">
                                <i class="fab fa-youtube"></i>
                            </div>
                            <div class="social-text">Youtube.com/@rovero</div>
                        </a>
                    </div>
                </div>


                <div class="col-md-3 text-center  pagesLinks">
                    <h6 class="text-uppercase fw-bold mb-4 ">our pages</h6>

                    <p><a href="landing_page.html" >home</a></p>
                    <p><a href="car_list.html" >cars</a></p>
                    <p><a href="user_booking_history.html">booking</a></p>
                    <p><a href="contact_us.html">contactUs</a></p>

                </div>
                <div class="col-md-6 text-center ">
                    <h6 class="text-uppercase fw-bold mb-4">Our Location</h6>
                    <div class="">
                        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109752.27693422738!2d31.314368528232187!3d31.0369338433486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f79db19dcddfb1%3A0x50726e57c5fca649!2sITI%20Mansoura!5e0!3m2!1sen!2seg!4v1714645477195!5m2!1sen!2seg"  width="100%" height="200px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </section>
</footer>
