<!-- components/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black px-4">
  <a class="navbar-brand fs-2" href="#">Rovero</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link" href="landing_page.html">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="car_list.html">Browse Cars</a></li>
      <li class="nav-item"><a class="nav-link" href="compare.html">Compare cars</a></li>
      <li class="nav-item"><a class="nav-link" href="user_booking_history.html">Bookings</a></li>
      <li class="nav-item"><a class="nav-link" href="contact_us.html">Contact Us</a></li>
    </ul>
    <button id="auth-btn" class="btn btn-outline-light rounded-pill ms-lg-3">Login / Register</button>
  </div>
</nav>
