body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-size: 400% 400%;
    background: rgb(202, 200, 200);
}

.gradient-bg {
    background-size: 400% 400%;
    height: 100vh;
}

#loginForm, #registerForm, #contactForm {
    border-radius: 20px;
    padding: 30px;
    opacity: 0;
    transform: translateY(60px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-section, .contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form-container, .contact-form {
    width: 100%;
    height: 85%;
    max-height: 800px;
    max-width: 800px;
}


input[type="email"],
input[type="password"],
input[type="text"] {
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: #474444;
    outline: none;

}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
    color: #6a6666;
}

.form-text {
    font-size: 0.875rem;
}

#loginForm .btn, #registerForm .btn {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
}

#loginForm .btn:hover, #registerForm .btn:hover {
    background: linear-gradient(to right, #fd7e14, #666666);
    transform: scale(1.04);
}

#loginForm p, #registerForm p {
    color: #051da4;
    font-weight: 400;
}

#loginForm p a, #registerForm p a {
    color: #297bd3;
    text-decoration: none;
    font-weight: 400;
}

@media (max-width: 500px) {
    .form-container {
        height: 100%;
        min-height: 100%;
    }

}

@media (max-width: 768px) {
    .form-container {
        height: 100%;
        min-height: 100%;
    }

}

i {
    display: inline-block;
    transition: transform 0.1s ease;
    margin-bottom: 5px;
}

i:hover {
    transform: scale(1.4);
    color: #fd7e14;
}
footer .pagesLinks p {
    margin: 5px 0;
    padding: 0;
}

footer .pagesLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .pagesLinks p a {
    color: #fffafa;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s ease;
    padding: 5px 10px;
    display: inline-block;
    width: 100px;
    text-align: center;
}

footer .pagesLinks p a:hover {
    color: #fd7e14;
    transform: scale(1.3);
}

footer .social-container {
    display: flex;
    flex-direction: column;
    max-width: 240px;
}

footer .social-button {
    display: flex;
    text-decoration: none;
    color: white;
    height: 45px;
    align-items: center;
    position: relative;
}

footer .social-icon {
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

footer .social-icon i {
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out;
}

footer .social-button:hover .social-icon {
    transform: rotate(0deg);
}

footer .social-button:hover .social-icon i {
    transform: rotate(0deg);
}

footer .social-text {
    line-height: 35px;
    padding-left: 20px;
    padding-right: 5px;
    font-size: 15px;
    width: 200px;
    white-space: nowrap;
    position: relative;
    left: -15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Facebook */
footer .facebook .social-icon {
    background-color: #0866ff;
}

footer .facebook .social-text {
    background-color: #0866ff;
}

/* Instagram */
footer .instagram .social-icon {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

footer .instagram .social-text {
    background: linear-gradient(to right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

/* Twitter/X */
footer .twitter .social-icon {
    background-color: #1DA1F2;
}

footer .twitter .social-text {
    background-color: #1DA1F2;
}

/* YouTube */
footer .youtube .social-icon {
    background-color: #FF0000;
}

footer .youtube .social-text {
    background-color: #FF0000;
}
